@media(min-width: 540px){
  .service-main {
    margin-top: 0px;
    overflow-y: auto;
    backface-visibility: hidden;
  }
}

.service-main {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  background-color: var(--secondary-bg-color);
  margin-top: 0px;
}

.services-container {
  margin-top: 20px;
}
